body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 10px;
}
nav ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
  margin: 0 10px;
}
nav a {
  color: #333333;
  font-weight: bold;
  font-size: 95%;
  text-decoration: none;
  padding: 10px;
}
.logo {
  margin-right: 20px;
  height: 8vh;
  width: auto;
}

.food-image{
  height: 100%;
  width: auto;
  margin: 6vh;
  border-radius: 10%;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 32vh;
  gap: 10px;
  background-color: #495E57;
  margin: 0 auto;
  width: 100%;
}

.col1{
  padding: 20px;
}

.reserve-button{
  background-color: #f4ce14;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.title{
  font-size: 300%;
  color: #eed049;
  margin: 0%;
}

.subtitle{
  font-size: 180%;
  font-weight: 600;
  color: #edefee;
  margin: 0%;
}

.text{
  color: #edefee;
  font-weight: 500;
}